<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>OAuth Server Login</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<!-- ######################### PROPER DESIGN OF THIS PAGE IS PENDING ########################## -->
<body>
	<div class="container main">
	
		<div class="well" style="text-align: center">
			
				<h1 th:text="|#{approve.required_for}: ${client.clientName}|"></h1>
			

			<form name="confirmationForm"
				th:action="${@configurationPropertiesBean.issuer + 'authorize'}"
				method="post">

				<div class="row">
					<div class="span5 offset1 well-small" style="text-align: left">

						<!-- client is "generally recognized as safe, display a more muted block -->
                   <div th:if="${ client.dynamicallyRegistered}">
						<div th:if="${ gras }">
							<p class="alert alert-info"
								th:text="#{approve.dynamically_registered}">
								<i class="icon-globe"></i>
							</p>
						</div>

						<!-- client is dynamically registered -->
						
						<div th:unless="${ gras }" 
						     class="alert alert-block" 
						     th:classappend="${ count == 0 ? 'alert-error' : 'alert-warn' }">
						     <h4 th:text="|#{approve.caution.title}: |">
										<i class="icon-globe"></i> 
									</h4>
									
									<p th:utext="#{approve.dynamically_registered(${client.createdAt})}|"></p>
									
                                   <p th:if="${count == 0}" th:utext="|#{approve.caution.message.none(${count})}|"></p>
                                   <p th:if="${count == 1}" th:utext="#{approve.caution.message.singular(${count})}|"/>
                                   <p th:unless="${ count == 0 or count == 1}" th:utext="#{approve.caution.message.plural(${count})}|"/>
                                    
						  </div>
					   </div>
					   
					   <div th:if="${ client.logoUri != null and client.logoUri != ''}">
					      <ul class="thumbnails">
							<li class="span5">
								<a class="thumbnail" data-toggle="modal" data-target="#logoModal"><img th:src="${client.logoUri}" /></a>
							</li>
						  </ul>
						  <!-- Modal -->
						  <div id="logoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="logoModalLabel" aria-hidden="true">
						  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						           <h3 id="logoModalLabel">
						             <em th:text="${ client.clientName != null and client.clientName != ''}? ${client.clientName} : ${client.clientId} "></em>
						           </h3>
						  </div>
						  <div class="modal-body">
								<img th:src="${client.logoUri}" />
									<a th:if="${ client.clientUri != null and client.clientUri != ''}" th:href="${ client.clientUri }" >[[${client.clientUri}]]</a>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						  </div>
					   </div>
					   
					   
					   <div class="muted moreInformationContainer" 
					        th:if="${client.clientDescription != '' or client.clientUri != '' or client.policyUri != '' or client.tosUri != '' or contacts != ''}" 
					        th:text="${client.clientDescription}">
					        
					        <div id="toggleMoreInformation" 
					             style="cursor: pointer;" 
					             th:if="${client.clientUri != '' or client.policyUri != '' or client.tosUri != '' or contacts != ''}">
					             <small th:text="#{approve.more_information}"><i class="icon-chevron-right"></i> </small>
					        
					        </div>
					        
					        <div id="moreInformation" class="hide">
					          <ul>
					            <li th:if="${client.clientUri != ''}" th:text="|#{approve.home_page}: |"><a th:href="${ client.clientUri }">[[${ client.clientUri }]]</a>
					            </li>
					            <li th:if="${client.policyUri != ''}" th:text="|#{Policy}: |"><a th:href="${ client.policyUri }">[[${ client.policyUri }]]</a>
					            </li>
					            <li th:if="${client.tosUri != ''}" th:text="|#{approve.terms}: |"><a th:href="${ client.tosUri }">[[${ client.tosUri }]]</a>
					            </li>
					            <li th:if="${contacts != ''}" th:text="|#{approve.contacts}: |">[[${ contacts }]]</li>
					          </ul>
					        
					        </div>
					   
					   </div>
					   
					   <div>
					     <div class="alert alert-block alert-error"
					          th:if="${client.redirectUris == null and client.redirectUris == ''}">
					          
					                 <h4>
										<i class="icon-info-sign"></i> [[#{approve.warning}]]:
									</h4>
									[[#{approve.no_redirect_uri}]]
									<span th:utext="#{approve.redirect_uri(${redirect_uri})}"></span>
								 
					     </div>
					     <span th:utext="#{approve.redirect_uri(${redirect_uri})}">
					     </span>
					     <div class="alert alert-success" th:if="${ client.subjectType == 'PAIRWISE' }" th:text="#{approve.pairwise}">
							
						</div>
					   </div>
					   
					</div>
					<div class="span4">
					
						<fieldset style="text-align: left" class="well">
						   <legend style="margin-bottom: 0;" th:text="|#{approve.access_to}:|"></legend>
						   
						   <div class="alert alert-block alert-error" th:if="${client.scope == null or client.scope == ''}">
									<h4>
										<i class="icon-info-sign"></i> [[#{approve.warning}]]
									</h4>
									<p th:text="#{approve.no_scopes}">
									</p>
						  </div>
						  <div th:each="scope: ${ scopes }">
						     <label th:for="${'scope_'+scope.value }" class="checkbox">
						       <input type="checkbox" th:name="${'scope_'+scope.value}" th:id="${'scope_'+scope.value}" th:value="${ scope.value }" checked="checked">  
						       <i th:class="${'glyphicon glyphicon-user'}" th:if="${ scope.icon != null and scope.icon != ''}"></i>
						       <span th:if="${scope.description != null and scope.description != ''}" 
						             th:text="${scope.description}"></span>
						             
						       <span th:unless="${scope.description != null and scope.description != ''}" 
						             th:text="${scope.value}"></span>
						             
						      <!-- NEED TO WORK ON SHOWING CLAIMS WITH DATA-CONTENT AND POPOVER -->       
						             
						      <span th:if="${claims[scope.value] != null or claims[scope.value] != ''}"    
						                class="claim-tooltip" data-toggle="popover"
										data-html="true"
										data-placement="right"
										data-trigger="hover"
										data-title="These values will be sent:"
										
										>  
										<i class="glyphicon glyphicon-question-sign"></i>
							  </span>  
						             
						     </label>
						  
						  </div>
						
						</fieldset>
						
						<fieldset style="text-align: left" class="well">
						<legend style="margin-bottom: 0;">[[#{approve.remember.title}]]:</legend>
						<label for="remember-forever" class="radio"> 
						<input type="radio" name="remember" id="remember-forever" value="until-revoked"  th:checked="${consent == null} ? 'checked' : ''"> 
							[[#{approve.remember.until_revoke}]]
						</label> 
						<label for="remember-hour" class="radio"> 
						<input type="radio" name="remember" id="remember-hour" value="one-hour">
							[[#{approve.remember.one_hour}]]
						</label> 
						<label for="remember-not" class="radio"> 
						<input type="radio" name="remember" id="remember-not" value="none" th:checked="${consent != null} ? 'checked' : ''">
							[[#{approve.remember.next_time}]]
						</label>
					</fieldset>
					
					</div>
				</div>
				
				<div class="row">
				<h3 th:text="${ client.clientName != null and client.clientName != ''}? #{approve.do_authorize}+' &quot; '+ ${client.clientName}+' &quot;?' : #{approve.do_authorize}+'&quot; '+${client.clientId}+ '&quot;?'"></h3>

				<input id="user_oauth_approval" name="user_oauth_approval" value="true" type="hidden" />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input name="authorize" th:value="#{approve.label.authorize}" type="submit"
				onclick="$('#user_oauth_approval').attr('value',true)" class="btn btn-success btn-large" /> 
				&nbsp; 
				<input name="deny" th:value="#{approve.label.deny}" type="submit" onclick="$('#user_oauth_approval').attr('value',false)"
				class="btn btn-secondary btn-large" />
				</div>

			</form>

		</div>


	</div>
</body>
</html>